{% extends 'layout.html' %} {% load crispy_forms_tags %} {% block title %} Help
{% endblock title %} {% block content %}
<div class="row--last">
  <div class="contact">
    <div class="contact__inner">
      <h4 class="contact__title">Who are we?</h4>
      <p>
        Ariadne Marketou is a chemist with a PhD in archaeology. Her research
        interests include ancient colours and colour-perception, archaeological
        science and chemical analysis. The idea for the Colourant Mapping
        Project emerged from the challenges that Ariadne faced when she was
        conducting research on the pigments of Mediterranean antiquity.
      </p>
      <p>
        George Karellakis is the web developer behind this webpage, who found
        the way to tackle the problem of Colourant Mapping as part of the course
        CS50’s Introduction to Computer Science (HarvardX).
      </p>

      <p>
        Contact If you have any questions concerning the project, data
        availability or about the new entries, contact us at
        <a href="mailto: colourmapro@gmail.com">colourmapro@gmail.com</a>.
      </p>
    </div>
  </div>
</div>
{% endblock%}
